* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Goldman", cursive;
}

body {
  min-width: 310px;
  overflow-x: hidden;
}

input {
  width: 200px;
  height: 30px;
  border: 1px solid #aaa;
  border-radius: 12.5px;
  padding: 0 10px;
  transition: 0.15s linear;
  outline: transparent;
}

label {
  font-weight: bold;
  text-align: center;
}

.mainSection {
  @include sectionStyle;
  flex-direction: column;

  &__title {
    width: 100vw;
    min-width: 310px;
    background-color: #000;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 25px 0;
    margin-bottom: 25px;
  }

  &__node {
    @include nodeStyle;
    position: relative;
    transform: translateY(-10px);
    opacity: 0;
    transition: 0.2s linear;

    &--onPosition {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__eleContainer {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    @include mq(small) {
      margin-bottom: 0px;
    }
  }

  &__label {
    width: 25px;
    margin-right: 5px;
    font-weight: bold;
    text-align: center;
  }
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  min-width: 310px;
  height: 140px;
  background-color: #000;
  text-align: center;
  color: #fff;
  padding: 25px 0;
  margin-top: 25px;

  &__value {
    margin-top: 7.5px;
    text-transform: uppercase;
    font-size: 25px;

    @include mq(small) {
      font-size: 35px;
    }
  }
}

.search {
  @include nodeStyle;

  &__eleContainer {
    display: flex;
    flex-direction: column;
  }

  &__input {
    margin: 5px auto 0;
    pointer-events: none;
    background-color: #efefef;

    &--active {
      pointer-events: initial;
      background-color: #fff;
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
